.dropdown {
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    border-radius: 5px;

    outline: none;

    cursor: pointer;

    &:hover {
      border: 2px solid rgba(0, 0, 0, 1);
    }
  }

  &__list {
    margin-top: 0.25rem;
    border-radius: 5px;
    overflow: hidden;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    &__item {
      padding: 0.25rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
      background-color: #118ab2;

      color: rgb(245, 248, 250);

      &:hover {
        background-color: #073b4c;
      }

      &:nth-child(even) {
        background-color: #127697;
        &:hover {
          background-color: #073b4c;
        }
      }
    }
  }
}
