* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f8fa;
}

main {
  max-width: 900px;
  padding: 0 1rem;
  margin: auto;
}

.input {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.input__label {
  font-size: 2em;
  display: block;
  margin-bottom: 0.25rem;
}

.input__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input__container #input {
  height: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  border: 2px solid rgba(0, 0, 0, 0.25);
}

.input__container #input:focus {
  border: 2px solid black;
}

.input__container__button {
  height: 40px;
  padding: 0 1rem;
  background-color: #06d6a0;
  border-radius: 5px;
  margin-left: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1.25em;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.input__container__button:hover {
  -webkit-filter: saturate(1.2);
          filter: saturate(1.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.input__warning {
  color: #ef476f;
  font-size: 0.75em;
  position: absolute;
}

.button--deactivate {
  pointer-events: none;
  opacity: 0.5;
}

@media only screen and (max-width: 400px) {
  .input__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input__container__button {
    margin-left: 0;
    margin-top: 0.25rem;
  }
}

.dropdown-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 500px) {
  .dropdown-container {
    display: block;
  }
}

.dropdown__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.dropdown__header:hover {
  border: 2px solid black;
}

.dropdown__list {
  margin-top: 0.25rem;
  border-radius: 5px;
  overflow: hidden;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdown__list__item {
  padding: 0.25rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #118ab2;
  color: #f5f8fa;
}

.dropdown__list__item:hover {
  background-color: #073b4c;
}

.dropdown__list__item:nth-child(even) {
  background-color: #127697;
}

.dropdown__list__item:nth-child(even):hover {
  background-color: #073b4c;
}

.search-bar {
  width: 100%;
  margin-bottom: 2rem;
  opacity: 0;
  height: 0px;
  pointer-events: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.search-bar:hover {
  opacity: 1;
}

.search-bar:focus-within {
  opacity: 1;
}

.search-bar__label {
  display: block;
}

.search-bar #search {
  height: 30px;
  width: 100%;
  padding-left: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  border: 2px solid rgba(0, 0, 0, 0.25);
}

.search-bar #search:focus {
  border: 2px solid black;
}

.search-bar--active {
  opacity: 0.5;
  height: 50px;
  pointer-events: initial;
}

.task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.task-list__title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 2rem;
}

.task-list__content {
  width: 100%;
}

.task-list__content li {
  list-style: none;
}

.task-done {
  opacity: 0.8;
  text-decoration: line-through;
}

.task-hide {
  display: none !important;
}

.task-wrapper:not(:last-child) {
  margin-bottom: 2rem;
}

.task {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 500px;
  word-break: break-all;
  background-color: #a2c5d1;
  padding: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.task__info-highlight {
  font-weight: bold;
  color: #f5f8fa;
}

.task__info h1 {
  font-size: 2em;
  color: rgba(245, 248, 250, 0.5);
}

.task__info p {
  font-size: 0.75em;
  color: rgba(245, 255, 250, 0.5);
}

.task__button {
  min-height: 100px;
  width: 100px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #f5f8fa;
  font-size: 0.75em;
  margin-left: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.task__button:hover {
  -webkit-filter: saturate(1.2);
          filter: saturate(1.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.task--mark-as-done {
  background-color: #06d6a0;
}

.task--remove {
  background-color: #ef476f;
}

.task--rename {
  background-color: #ffd166;
}

@media only screen and (max-width: 960px) {
  .task {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .task__info {
    max-width: none;
    width: 100%;
  }
  .task__buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .task__button {
    margin-top: 0.25rem;
    min-height: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .task__info h1 {
    font-size: 1.25em;
  }
}
/*# sourceMappingURL=main.css.map */